body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #0a0a70, #000000); /* Dark blue to black gradient */
    color: #fff; /* Text color */
}

.nav-container {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0); /* Semi-transparent black background */
}

.nav-container .info-container {
    padding: 15px; 
}

.nav-container .social-container {
    padding: 15px;
}

@media screen and (max-width: 1024px) {
    .nav-container {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .nav-container .info-container {
        padding: 10px;
        font-size: 14px;
    }
    .nav-container .social-container {
        padding: 10px;
        font-size: 15px;
    }
}

.nav-container .social-container a {
    margin: 0 10px;
    color: #fff; /* Text color */
    text-decoration: none;
}

.content-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 8%); /* Subtract nav container height */
    background: linear-gradient(to bottom, #0a0a70, #000000); /* Dark blue to black gradient */
    color: #fff; /* Text color */
}

@media screen and (max-width: 1024px) {
    .content-container {
        height: calc(100vh - 10%); /* Subtract nav container height */
    }
    
}
.chat-container {
    width: 85%;
    height: 60vh; /* 60% of viewport height */
    max-width: 600px;
    border: 6px solid #ccc;
    border-radius: 16px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}
.chat-messages {
    height: calc(100% - 82px); /* Subtract input container height */
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: thin; /* For Firefox */
}

.message {
    margin-bottom: 10px;
}
.message .user {
    font-weight: bold;
    color: #FFA500; /* User message color */
}
.message .text {
    margin-left: 10px;
}

.input-container {
    height: 42px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
}
.input-container input[type="text"] {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255); /* Semi-transparent white background */
    color: #000000; /* Text color */
}
.input-container button {
    padding: 8px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}
.input-container button:hover {
    background-color: #ffffff;
}

/* Scrollbar */
.chat-messages::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    background-color: transparent;
}

/* Scrollbar thumb */
.chat-messages::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners */
}

/* Scrollbar track */
.chat-messages::-webkit-scrollbar-track {
    background-color: #666; /* Color of the scrollbar track */
}