body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #060647, #000000); /* Dark blue to black gradient */
    color: #fff; /* Text color */
}
.chat-container {
    width: 85%;
    height: 60vh; /* 60% of viewport height */
    max-width: 600px;
    border: 6px solid #ccc;
    border-radius: 16px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}
.chat-messages {
    height: calc(100% - 82px); /* Subtract input container height */
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: thin; /* For Firefox */
}

.message {
    margin-bottom: 10px;
}
.message .user {
    font-weight: bold;
    color: #FFA500; /* User message color */
}
.message .text {
    margin-left: 10px;
}

.input-container {
    height: 42px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
}
.input-container input[type="text"] {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    color: #fff; /* Text color */
}
.input-container button {
    padding: 8px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
.input-container button:hover {
    background-color: #0056b3;
}

/* Scrollbar */
.chat-messages::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Scrollbar thumb */
.chat-messages::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners */
}

/* Scrollbar track */
.chat-messages::-webkit-scrollbar-track {
    background-color: #666; /* Color of the scrollbar track */
}